In [11]:
import os
import csv
import pandas as pd

In [70]:
phd = pd.read_csv("../sources/phd.csv")

# Début et fin de thèse

In [76]:
phd[["Date d'inscription première année"]] = phd[["Date d'inscription première année"]].astype(str)
phd[["Date de soutenance"]] = phd[["Date de soutenance"]].astype(str)

for idx, student in phd.iterrows():
  #print student
  bib_name = "../refs/"+str(student[2])+"/"+str(student[0]).lower()+".tsv"
  
  if student[5] != "":
    a = student[5].split("/")
    
    if len(a) > 2:
      if a[2].startswith("20"):
        a[2] = a[2][2:]
        
      phd.loc[idx, "phd year start"] = a[2]
    else:
      phd.loc[idx, "phd year start"] = None

  if student[6] != "":
    a = student[6].split("/")
    
    if len(a) > 2:
      if a[2].startswith("20"):
        a[2] = a[2][2:]

    if len(a) > 2:
      phd.loc[idx, "phd year end"] = a[2]
    else:
      phd.loc[idx, "phd year end"] = None

      
phd[["NOM", "Promotion", "phd year start", "phd year end"] ].head()

           NOM Promotion phd year start phd year end
0       ROBERT  ED 07-08             07           10
1  PLATKIEWICZ  ED 07-08             07           10
2       BIKARD  ED 07-08             07           10
3       GUERIN  ED 07-08             07           10
4      BASTIEN  ED 07-08             07           10

In [68]:
print phd[ phd["phd year start"] > 0 ].count()

print phd[ phd["phd year end"] > 0 ].count()

print phd[ (phd["phd year start"] > 0) & (phd["phd year end"] > 0) ].count()

NOM                                  179
Prénom                               179
Promotion                            179
Publications Research Gate           148
Publications Google Scholar           25
Date d'inscription première année    179
Date de soutenance                   179
Directeur thèse 1                    179
Laboratoire d'accueil                179
Etablissement d'accueil              179
UMR cotutelles                       170
publications                         179
phd year                             179
phd year start                       179
phd year end                         127
dtype: int64
NOM                                  127
Prénom                               127
Promotion                            127
Publications Research Gate           121
Publications Google Scholar           21
Date d'inscription première année    127
Date de soutenance                   127
Directeur thèse 1                    127
Laboratoire d'accueil                127
Etablissement d'accueil              127
UMR cotutelles                       119
publications                         127
phd year                             127
phd year start                       127
phd year end                         127
dtype: int64
NOM                                  127
Prénom                               127
Promotion                            127
Publications Research Gate           121
Publications Google Scholar           21
Date d'inscription première année    127
Date de soutenance                   127
Directeur thèse 1                    127
Laboratoire d'accueil                127
Etablissement d'accueil              127
UMR cotutelles                       119
publications                         127
phd year                             127
phd year start                       127
phd year end                         127
dtype: int64

## add references

In [97]:
for idx, student in phd.iterrows():
  #print student
  bib_name = "../refs/"+str(student[2])+"/"+str(student[0]).lower()+".tsv"

  before = 0
  during = 0
  after = 0
  
  # print idx
  if os.path.exists(bib_name):
    nb_citations = 0
    
    try:
      citations = pd.read_csv(bib_name, sep="\t", dtype={ "PD" : str } )
      
      nb_citations = len(citations.index)

      py = citations.groupby("PD").count()
      
      # print py
      # print student[0]

      for y, row in py.iterrows():
        phd.loc[idx, "publications "+str(y)] = row[0]
        # print y
        # print row[0]

      if phd.loc[idx, "phd year start"] != None and phd.loc[idx, "phd year end"] != None:
        for y, row in py.iterrows():
          if y < int("20"+str(phd.loc[idx, "phd year start"])):
            before += row[0]
          else if y >= int("20"+str(phd.loc[idx, "phd year start"])) && y <= int("20"+str(phd.loc[idx, "phd year end"])):
            during += row[0]
          else:
            after += row[0]
     
        
    except:
      pass
    
    phd.loc[idx, "publications"] = nb_citations   
  else:
    phd.loc[idx, "publications"] = 0


phd[["NOM", "publications"] ]
#phd

                        NOM  publications
0                    ROBERT             9
1               PLATKIEWICZ             5
2                    BIKARD            17
3                    GUERIN             9
4                   BASTIEN             5
5              RIBOLI-SASCO             4
6                    FLUTRE            11
7                   BOSANAC             8
8                   BECAVIN            15
9                     ADIBA             0
10               JUKOVSKAYA             0
11               POCHEVILLE             6
12                  DEMAREZ             5
13                   BARRAL            10
14                OUETHRANI             4
15                   MUGABO             6
16                   DUPONT             1
17                    JULOU             7
18             ZYLBERSZTEJN             6
19                   HO WAN             0
20                      SHI             4
21                PERRENOUD             4
22                  ANSELMI            15
23                  MANIERE             3
24                   LIEURY             3
25                   ROLAND             5
26                   ARDUIN             3
27                ESTEBANEZ             7
28                BERTHERAT             2
29                   ELISEE             0
..                      ...           ...
217                 COGNART             0
218              Czerwinska             0
219              d'Humières             6
220                    Deye            53
221                Drummond             9
222                 DUSSAUX             0
223                    FAGE             0
224                    fang            71
225              Foulonneau             3
226                  Goudot             2
227                    Gros             0
228                   Kempf             0
229                    Levé             5
230  Lima de Castro Menezes             0
231                   Maheu             0
232                MAILLARD             0
233                  Ouyang           145
234                 Piffoux             0
235                Quévreux             0
236                 Rebollo             0
237                 Sawicka            17
238                 Seminck             0
239                  Siouve             0
240                    Song             0
241                  Suzuki            62
242                TERRADOT             0
243       VAN DEN DRIESSCHE             0
244                  Vasile             0
245               Vigouroux             0
246                    Zell             0

[247 rows x 2 columns]

In [98]:
phd.to_csv("../outputs/phd.csv")